

.bg{
  background: linear-gradient(0deg, rgb(32, 31, 31) 0%, rgb(232, 233, 175) 100%);
  height:calc(88vh - 100px);
  width:100%;
}







.hero{
   
   /* border:2px solid red; */
   /* padding-left:400px;
   padding-right:400px; */
   font-size: 52px;
   /* font-weight: 500; */
   /* position: absolute; */
   /* left:25%; */
   top:50px;
   width:90%;
   text-align: center;
   margin:auto;
   padding-top:70px;
  
   color:white;
   color:black;
 
   letter-spacing: -4px;
  

}

.whiteText {
  color: white;
}


.quote{
 letter-spacing: 0;
 /* border:2px solid red; */
 /* width:110%; */
 margin:auto;
 margin-top:20px;
 /* position: relative;
 right:40px; */
}




.btnhover {
  color: rgb(255, 255, 255);
 
  background-color: #222222; 
  padding: 10px 17px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  cursor: pointer;
  text-align: center;
  display: inline-block;
  letter-spacing: 0px;
  transition: all 0.5s ease 0s;
}
.btnhover:hover {
  box-shadow: none;
} 




@media only screen and (max-width: 544px) {
  .animation{
    /* border:2px solid red; */
    display: none;
  }
  .btnhover{
    margin-top: 50px;
    /* border:2px solid red; */
  }
  .hero{
 
    /* border:2px solid red; */
    /* padding-left:400px;
    padding-right:400px; */
    font-size: 52px;
    /* font-weight: 500; */
    /* position: absolute; */
    /* left:25%; */
    top:50px;
    width:90%;
    text-align: center;
    margin:auto;
    padding-top:50px;
  
   
 
 }
}