.container {
    font-family: Arial, sans-serif;
    padding: 40px;
    width: 70vw;
    margin: auto;
}

.bannerSection {
    position: relative;
    background-image: url('../public/careers7.jpg');
    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.bannerContent {
    position: relative;
    z-index: 2;
    text-align: left;
}

.bannerContent h1 {
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 30px;
}

.bannerContent p {
    color: #555;
    line-height: 1.6;
}

.section {
    margin-bottom: 20px;
}

.sectionTitle {
    color: #000000;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 700;
}

.list {
    list-style-type: disc;
    margin-left: 20px;
}

.list li {
    color: #000000;
    line-height: 1.6;
    margin-bottom: 10px;
    text-align: justify;
}

/* Tablet Styles */
@media (max-width: 768px) {
    .container {
        padding: 20px;
        width: 90vw;
    }

    .bannerSection {
        height: 300px; /* Adjust height as needed for tablets */
    }

    .bannerContent h1 {
        font-size: 34px;
    }

    .bannerContent p {
        font-size: 14px;
    }
}

/* Phone Styles */
@media (max-width: 480px) {
    .container {
        padding: 10px;
        width: 95vw;
    }

    .bannerSection {
        height: 200px; /* Adjust height as needed for phones */
    }

    .bannerContent {
        text-align: center; /* Center text on small screens */
    }

    .bannerContent h1 {
        font-size: 30px;
    }

    .bannerContent p {
        font-size: 12px;
    }

    .list {
        margin-left: 16px;
    }

    .list li {
        font-size: 12px;
    }
}