.bg{
  background: linear-gradient(0deg, rgb(32, 31, 31) 0%, rgb(232, 233, 175) 100%);
  height:calc(88vh - 100px);
  width:100%;
}

.hero{
   
  
   font-size: 52px;
   
   top:50px;
   width:90%;
   text-align: center;
   margin:auto;
   padding-top:70px;
  
   color:white;
   color:black;
 
   letter-spacing: -4px;
  

}

.whiteText {
  color: white;
}


.quote{
 letter-spacing: 0;

 margin:auto;
 margin-top:20px;
 /* position: relative;
 right:40px; */
}




.btnhover {
  color: rgb(255, 255, 255);
 
  background-color: #222222; 
  padding: 10px 17px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  cursor: pointer;
  text-align: center;
  display: inline-block;
  letter-spacing: 0px;
  transition: all 0.5s ease 0s;
}
.btnhover:hover {
  box-shadow: none;
} 

.container {
  padding: 0 2rem;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.main {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.description {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  max-width: 80vw;
  color: #666;
  text-align: justify;
}

.services {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.serviceCard {
  background: white;
  padding: 2rem;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 300px;
  width: 450px;
}

.serviceCard:hover {
  transform: translateY(-5px);
}

.serviceCard h2 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  color: #1c1923;
}

.serviceList li {
  cursor: pointer;
}

.serviceList li:hover {
  color: rgb(59, 59, 59);
  font-size: 17px;
}

/* Media Queries */

@media (max-width: 1432px) {
  .heroline {
    font-size: 60px;
  }

  .services {
    flex-wrap: wrap;
  }

  .serviceCard {
    width: 300px;
    height: 500px;
  
  }
}



@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .description {
    font-size: 1rem;
  }

  .services {
    flex-direction: column;
    align-items: center;
  }

  .serviceCard {
    width: 100%;
    height: 500px;
    margin-bottom: 1.5rem;
  }
  
}


@media only screen and (max-width: 544px) {
  .animation{
    /* border:2px solid red; */
    display: none;
  }
  .btnhover{
    margin-top: 50px;
    /* border:2px solid red; */
  }
  .hero{
 
    /* border:2px solid red; */
    /* padding-left:400px;
    padding-right:400px; */
    font-size: 52px;
    /* font-weight: 500; */
    /* position: absolute; */
    /* left:25%; */
    top:50px;
    width:90%;
    text-align: center;
    margin:auto;
    padding-top:50px;
  
   
 
 }
}




.container {
    padding: 0 2rem;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }

  
  .main {
    /* background-color: white; */
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 2.5rem;
    /* text-align: center; */
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .description {
    font-size: 1.25rem;
    /* text-align: center; */
    margin-bottom: 1.5rem;
    max-width: 80vw;
    color: #666;
  }
  
  .services {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .serviceCard {
    background: white;
    padding: 2rem;
    border-radius: 20px;

    /* width: calc(50% - 1rem); */
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 300px;
    width: 450px;
  }
  
  .serviceCard:hover {
    transform: translateY(-5px);
  }
  
  .serviceCard h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: #1c1923;
  }
  
  .serviceList li {
    cursor: pointer;
    transition: all 0.5s ease 0s;
  }

  .serviceList  li:hover {
    /* color: rgb(205, 50, 50); */
    font-size: 17px;
  }
  
 
  
  
  /* Media Queries */
  @media (max-width: 768px) {
    .title {
      font-size: 2.5rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    /* .services {
      flex-direction: column;
      align-items: center;
    } */
  
    .serviceCard {
      margin-bottom: 1.5rem;
    }
  }




  
  
  @media only screen and (max-width:1450px) {
    
  .serviceCard {
    width: 450px;
    height: 300px;
  }


  .services {
    flex-direction: column;
    align-items: center;
  }
  
  }
  
  @media only screen and (max-width:450px) {
    
    .serviceCard {
      width: 350px;
      height: 400px;
    }
  
  
    .services {
      flex-direction: column;
      align-items: center;
    }
    
    }
    












  /* Default styles */