.popup-enter {
    transform: translateX(100%);
  }
  .popup-enter-active {
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
  }
  .popup-exit {
    transform: translateX(0);
  }
  .popup-exit-active {
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }
  